version: '3.8'

services:
  trader_bot:
    build: .
    container_name: trader_crm_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
